@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
  display: none;
  font-family: Source Sans Pro, Open Sans, Helvetica, Arial, sans-serif;
  background-color: #1F1F1F;
  font-weight: 300;
}
.container {
  max-width: 700px;
  background-color: #fff;
  padding: 25px 50px;
  margin: 20px auto;
}
.row-fluid {
  border-bottom: 1px solid #dddddd;
}
.span9 {
  padding-top: 10px;
}
article {
  padding: 20px 0;
}
footer {
  text-align: right;
  padding-top: 10px;
}
ul {
  list-style: none;
  margin: 0px;
}
.skills {
  border: 0;
}
/* Links */
a {
  color: #000000;
  border-bottom: 1px solid #dddddd;
  -o-transition: color 0.5s ease-out, background 0.6s ease-in;
  -ms-transition: color 0.5s ease-out, background 0.6s ease-in;
  -moz-transition: color 0.5s ease-out, background 0.6s ease-in;
  -webkit-transition: color 0.5s ease-out, background 0.6s ease-in;
  /* ...and now override with proper CSS property */

  transition: color 0.5s ease-out, background 0.6s ease-in;
}
a:hover {
  color: #333333;
  background: #F9F9F9;
  text-decoration: none;
}
footer a {
  padding: 0 ;
}
/* Typography */
h1,
h2,
h3,
h4,
h5 {
  font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 100%;
}
h1 {
  font-size: 38px;
  line-height: 50px;
  padding-top: 30px;
  font-weight: 700;
  font-family: Open Sans;
  text-align: center;
  letter-spacing: 1px;
}
h2 {
  font-size: 21px;
  text-align: center;
}
h3 {
  font-size: 20px ;
}
h4 {
  font-size: 16px ;
}
h5 {
  font-size: 12px;
}
strong {
  font-weight: 400;
}
p {
  text-indent: 22px;
  font-size: 16px;
  margin: 0px;
}
.welcome {
  font-size: 24px;
  text-indent: 0px;
  line-height: 30px;
}
.auth {
  text-align: right;
  font-size: 16px;
}
/* Contact */
.social a {
  font-size: 20px;
  text-decoration: none;
  margin: 5px 2px;
}
.social {
  padding: 30px 0px;
  font-size: 14px;
  line-height: 23px;
}
.socual li {
  list-style: none;
}
/* Images */
img {
  border: 1px solid #dddddd;
  margin: 15px;
  float: left;
}

#notification {width: 100%;height: 40px;position: fixed;top: -40px;font-size:16px;border-bottom:1px solid rgba(255,255,255,0.15);opacity:0.97;color:white;;background-color:#494949;-webkit-box-shadow:0 -1px 1px rgba(0,0,0,0.5) inset;-moz-box-shadow:0 -1px 1px rgba(0,0,0,0.5) inset;-ms-box-shadow:0 -1px 1px rgba(0,0,0,0.5) inset;-o-box-shadow:0 -1px 1px rgba(0,0,0,0.5) inset;box-shadow:0 -1px 1px rgba(0,0,0,0.5) inset}
#notification .container {height: 30px;margin-bottom: 0;margin-top: 0;padding: 10px 50px 0 50px;background-color:transparent}
.container.first {margin-top:5px;}
#notification .noti-msg {float:left;font-weight:bold;margin-right:10px;}
#notification .close-box {float:right;cursor:pointer;}
#notification .close-box:hover {color:#fca368;}
#top-header .icon-large:hover {color:#555555;}

.indexpage, .blogpage {display:none;}
#top-header {border:none;}
#main-nav {padding-left:180px;margin-bottom:0}
#main-nav li a {font-size:17px;}
#title-description {font-size:16px;}
.recent-posts-title {font-size:17px;}
#recent-posts .post.text {margin-bottom:10px;}
#recent-posts .post.text p {text-indent:0;}
#recent-posts a {border:none;}
#blog-posts {padding-top:0}
#blog-posts h2 {text-align:left;}
#blog-posts p {text-indent:0;margin-bottom:10px;}
#contact-detail {margin:15px 0;}
#main-nav .dropdown-menu li a {border-bottom:none}
#main-nav .dropdown-menu li a:hover {background:#9A9A9A}
.blogpage li.post.text  {list-style: none outside none;border-bottom:1px solid #333;margin-bottom:15px;}
.blogpage .post.text h2 {text-align:left;}
.blogpage .post.text p {text-indent:0;margin-bottom:10px;}
.social-box {display:none;}
.client_project h3 {text-align:center;}
.client_project .span4 {margin:4px;height:180px;}